
<h1>Mantenimiento de Equipos</h1>
<br />
<form>


    <div class="form-group row mb-4">
        <div class="col-sm-2"
        <label>Nombre</label>
    </div>
    <div class="col-sm-4">
        @Html.TextBox("nombre","",new{@class="form-control"})
    </div>

        <div class="col-sm-2">
            
        @Html.Label("lblDescripcion","Descripcion")
    </div>
    <div class="col-sm-4">
        @Html.TextArea("descripcion","",new {@class="form-control",@placeHolder="Ingrese la descripcion"})
    </div>

</form>




